### Importamos las librerias necesearias

In [4]:
import pandas as pd

In [5]:
# mercadona1_df = pd.read_csv('datasets/Mercadona_Intervalo_1_Dataset.csv')
mercadona_df = pd.read_csv('datasets/dataset_unificado_mercadona.csv')

In [6]:
print("CARGA DE DATOS DEL DATASET MERCADONA")
print("\n")
mercadona_df.head()

CARGA DE DATOS DEL DATASET MERCADONA

,id,supermarket,category,name,price,reference_price,reference_unit,insert_date,PIBFecha
0,248789,mercadona-es,fruta,Banana,0.26,1.29,kg,2020-07-21 16:06:00,287.632
1,248790,mercadona-es,fruta,PlÃ¡tano,0.34,1.99,kg,2020-07-21 16:06:00,287.632
2,248791,mercadona-es,fruta,PlÃ¡tano macho,0.58,1.95,kg,2020-07-21 16:06:00,287.632
3,248792,mercadona-es,fruta,Uva blanca sin semillas,2.84,3.79,kg,2020-07-21 16:06:00,287.632
4,248793,mercadona-es,fruta,Uva negra sin semillas,2.99,3.99,kg,2020-07-21 16:06:00,287.632

In [7]:
print("VISUALIZACION DE LA INFORMACION ESTADISTICA DEL DATASET DE MERCADONA")
print("\n")
mercadona_df.describe()

VISUALIZACION DE LA INFORMACION ESTADISTICA DEL DATASET DE MERCADONA

                 id          price  reference_price      PIBFecha
count  7.611020e+05  761102.000000    761102.000000  7.611020e+05
mean   6.293395e+05       6.265762         6.946805  2.876320e+02
std    2.197114e+05      67.922137        12.292162  3.979042e-13
min    2.487890e+05       0.100000         0.010000  2.876320e+02
25%    4.390642e+05       1.210000         1.630000  2.876320e+02
50%    6.293395e+05       1.980000         3.980000  2.876320e+02
75%    8.196148e+05       3.740000         8.000000  2.876320e+02
max    1.009890e+06    2470.050000       432.430000  2.876320e+02

In [8]:
print("VISUALIZACION DE LA INFORMACION DEL DATASET DE MERCADONA")
print("\n")
mercadona_df.info()

VISUALIZACION DE LA INFORMACION DEL DATASET DE MERCADONA


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761102 entries, 0 to 761101
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               761102 non-null  int64
 1   supermarket      761102 non-null  object
 2   category         761102 non-null  object
 3   name             761102 non-null  object
 4   price            761102 non-null  float64
 5   reference_price  761102 non-null  float64
 6   reference_unit   761102 non-null  object
 7   insert_date      761102 non-null  object
 8   PIBFecha         761102 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 52.3+ MB

In [9]:
print("VALORES NULOS DEL DATASET DE MERCADONA")
print("\n")
mercadona_df.isnull().sum()

VALORES NULOS DEL DATASET DE MERCADONA

id                 0
supermarket        0
category           0
name               0
price              0
reference_price    0
reference_unit     0
insert_date        0
PIBFecha           0
dtype: int64