### Importamos las librerias necesearias

In [1]:
import pandas as pd

In [3]:
mercadona1_df = pd.read_csv('datasets/Mercadona_Intervalo_1_Dataset.csv')
mercadona2_df = pd.read_csv('datasets/Mercadona_Intervalo_2_Dataset.csv')

In [4]:
print("CARGA DE DATOS DE MERCADONA INTERVALO 1 DATASET")
print("\n")
mercadona1_df.head()

CARGA DE DATOS DE MERCADONA INTERVALO 1 DATASET

,id,supermarket,category,name,price,reference_price,reference_unit,insert_date,PIBFecha
0,248789,mercadona-es,fruta,Banana,0.26,1.29,kg,2020-07-21 16:06:00,287.632
1,248790,mercadona-es,fruta,PlÃ¡tano,0.34,1.99,kg,2020-07-21 16:06:00,287.632
2,248791,mercadona-es,fruta,PlÃ¡tano macho,0.58,1.95,kg,2020-07-21 16:06:00,287.632
3,248792,mercadona-es,fruta,Uva blanca sin semillas,2.84,3.79,kg,2020-07-21 16:06:00,287.632
4,248793,mercadona-es,fruta,Uva negra sin semillas,2.99,3.99,kg,2020-07-21 16:06:00,287.632

In [5]:
print("CARGA DE DATOS DE MERCADONA INTERVALO 2 DATASET")
print("\n")
mercadona2_df.head()

CARGA DE DATOS DE MERCADONA INTERVALO 2 DATASET

,id,supermarket,category,name,price,reference_price,reference_unit,insert_date,PIBFecha
0,627713,mercadona-es,embutido,Butifarra fresca,3.16,4.93,kg,2020-08-21 04:00:00,287.632
1,627952,mercadona-es,embutido,Longaniza criollo fresca,2.73,6.50,kg,2020-08-21 04:00:00,287.632
2,628008,mercadona-es,fruta,Nectarina,0.43,2.15,kg,2020-08-21 04:00:00,287.632
3,628015,mercadona-es,especias,Romero Hacendado,0.80,2.00,100 g,2020-08-21 04:00:00,287.632
4,628281,mercadona-es,fruta,Fresas,2.29,5.73,kg,2020-08-21 04:00:00,287.632

In [6]:
print("VISUALIZACION DE LA INFORMACION ESTADISTICA DEL INTERVALO 1 DE MERCADONA")
print("\n")
mercadona1_df.describe()

VISUALIZACION DE LA INFORMACION ESTADISTICA DEL INTERVALO 1 DE MERCADONA

                  id          price  reference_price      PIBFecha
count  380551.000000  380551.000000    380551.000000  3.805510e+05
mean   439064.027573       6.201283         6.950653  2.876320e+02
std    109855.803100      67.626999        12.246302  2.273740e-13
min    248789.000000       0.100000         0.010000  2.876320e+02
25%    343926.500000       1.220000         1.630000  2.876320e+02
50%    439064.000000       1.990000         3.980000  2.876320e+02
75%    534201.500000       3.740000         8.000000  2.876320e+02
max    629352.000000    2470.050000       432.430000  2.876320e+02

In [7]:
print("VISUALIZACION DE LA INFORMACION ESTADISTICA DEL INTERVALO 2 DE MERCADONA")
print("\n")
mercadona2_df.describe()

VISUALIZACION DE LA INFORMACION ESTADISTICA DEL INTERVALO 2 DE MERCADONA

                 id          price  reference_price      PIBFecha
count  3.805510e+05  380551.000000    380551.000000  3.805510e+05
mean   8.196150e+05       6.330242         6.942957  2.876320e+02
std    1.098558e+05      68.216025        12.337865  2.273740e-13
min    6.277130e+05       0.100000         0.010000  2.876320e+02
25%    7.244775e+05       1.210000         1.630000  2.876320e+02
50%    8.196150e+05       1.980000         3.970000  2.876320e+02
75%    9.147525e+05       3.740000         8.000000  2.876320e+02
max    1.009890e+06    2470.050000       432.430000  2.876320e+02

In [8]:
print("VISUALIZACION DE LA INFORMACION DEL INTERVALO 1 DE MERCADONA")
print("\n")
mercadona1_df.info()

VISUALIZACION DE LA INFORMACION DEL INTERVALO 1 DE MERCADONA


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380551 entries, 0 to 380550
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               380551 non-null  int64
 1   supermarket      380551 non-null  object
 2   category         380551 non-null  object
 3   name             380551 non-null  object
 4   price            380551 non-null  float64
 5   reference_price  380551 non-null  float64
 6   reference_unit   380551 non-null  object
 7   insert_date      380551 non-null  object
 8   PIBFecha         380551 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 26.1+ MB

In [9]:
print("VISUALIZACION DE LA INFORMACION ESTADISTICA DEL INTERVALO 1 DE MERCADONA")
print("\n")
mercadona2_df.info()

VISUALIZACION DE LA INFORMACION ESTADISTICA DEL INTERVALO 1 DE MERCADONA


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 380551 entries, 0 to 380550
Data columns (total 9 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               380551 non-null  int64
 1   supermarket      380551 non-null  object
 2   category         380551 non-null  object
 3   name             380551 non-null  object
 4   price            380551 non-null  float64
 5   reference_price  380551 non-null  float64
 6   reference_unit   380551 non-null  object
 7   insert_date      380551 non-null  object
 8   PIBFecha         380551 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 26.1+ MB

In [10]:
print("VALORES NULOS DEL INTERVALO 1 DE MERCADONA")
print("\n")
mercadona1_df.isnull().sum()

VALORES NULOS DEL INTERVALO 1 DE MERCADONA

id                 0
supermarket        0
category           0
name               0
price              0
reference_price    0
reference_unit     0
insert_date        0
PIBFecha           0
dtype: int64

In [11]:
print("VALORES NULOS DEL INTERVALO 2 DE MERCADONA")
print("\n")
mercadona2_df.isnull().sum()

VALORES NULOS DEL INTERVALO 2 DE MERCADONA

id                 0
supermarket        0
category           0
name               0
price              0
reference_price    0
reference_unit     0
insert_date        0
PIBFecha           0
dtype: int64